unit 2 L2

1. What is python and why is it useful?

Python is a programming language that is able to handle large databases without overloading. It is widely known and effective.

2. Are the following variable names allowed in python? 
a.	1_message 
no
b.	Greeting_message
 yes
c.	Message_1 
 no
d.	First name
 no 
e.	Full_name
 yes

3. create a variable that holds the string "hello there!"

In [ ]:
x = "Hello there!"
print(x)

Hello there!

4. Create a variable for first name, last name and an email extension.  Concatenating all three together to form an email address.  For example: firstnamelastname@gmail.com

In [ ]:
x ="alexis"
y ="marin"
z ="@gmail.com"
print(x + y + z)

alexismarin@gmail.com

5.	Store someone you know name in a variable called name.  Print their name in lower and uppercase using a method.

In [ ]:
name = "Jackson"
print(name.lower())
print(name.upper())

jackson
JACKSON

6.	Using a variable, ask your friend if they want to hang out on the 15th of the month.  For example, “Do you want to hang out on the 15th of this month?”  You should have to convert the number to a string.

In [ ]:
name = "Jackson"
day = 15
print(name + "," + " " + "do you want to hang out on the" + " " + str(day) + 'th' + ' ' + 'of the month?')

Jackson, do you want to hang out on the 15th of the month?

Unit 2 L3
1.	Create a list of 5 of your favorite tv shows.  



2.	Print the list in its original order.


3.	Use the sorted() function to print the list in alphabetical order.  How is sorted() different from sort()?




4.	Print out your original list.



5.	Used sorted() to print your list in reverse alphabetical order.



6.	Create a message indicating how many favorite TV shows you have – use the len() function.

In [ ]:
tvshows = ['big brother', 'spongebob squarepants', 'mickey mouse', 'impractical jokers', 'scooby doo']
print(tvshows)
tvshows.sort()
print(tvshows)

['big brother', 'spongebob squarepants', 'mickey mouse', 'impractical jokers', 'scooby doo']
['big brother', 'impractical jokers', 'mickey mouse', 'scooby doo', 'spongebob squarepants']

In [ ]:
tvshows = ['big brother', 'spongebob squarepants', 'mickey mouse', 'impractical jokers', 'scooby doo']
print(tvshows)
x = sorted(tvshows)
print(x)
print(tvshows)
y = sorted(tvshows, reverse=True)
print(y)
z = len(tvshows)
print('I have' + ' ' + str(z) + ' ' + 'favorite tv shows')

['big brother', 'spongebob squarepants', 'mickey mouse', 'impractical jokers', 'scooby doo']
['big brother', 'impractical jokers', 'mickey mouse', 'scooby doo', 'spongebob squarepants']
['big brother', 'spongebob squarepants', 'mickey mouse', 'impractical jokers', 'scooby doo']
['spongebob squarepants', 'scooby doo', 'mickey mouse', 'impractical jokers', 'big brother']
I have 5 favorite tv shows

In [ ]:
#Unit 2 L4
#1 Create a list that holds 5 data variables
teams = ['nets', 'knicks', 'raptors', 'heat', 'celtics']
#2 Print out those variables by using a for loop
for team in teams:
 print(team)

#3 Modify your loop to add a message to your loop
for team in teams:
  print("I can't wait for the " + team.title() + ' to play!' + '\n')
#4 Use a for loop to print even numbers from 1-20
y = list(range(2,20+2,2))
for z in y:
  print(str(z) + '\n')
#5 Sort your list in alphabetical order
teams.sort()
print(teams)
#6 Print out the first three elements of your list
print('\n' + teams[0].title() + ' ' + teams[1].title() + ' ' + teams [2].title())
#7 Create a loop to print the last 2 elements of your list
for best_teams in teams[:-3]:
 print('\n' + best_teams.title())

nets
knicks
raptors
heat
celtics
I can't wait for the Nets to play!

I can't wait for the Knicks to play!

I can't wait for the Raptors to play!

I can't wait for the Heat to play!

I can't wait for the Celtics to play!

2

4

6

8

10

12

14

16

18

20

['celtics', 'heat', 'knicks', 'nets', 'raptors']

Celtics Heat Knicks

Celtics

Heat

In [ ]:
#Unit 2 L5
# 1.	Make a list of 5 or more usernames, including an admin account.  Imagine you are writing code that will welcome people to your application on login. Loop through the list and print your greeting.
user = ['alexis', 'alexismarin', 'alexism', 'malexis', 'alexis2001']
greeting = 'Hello! Welcome back'
for username in user:
  print(greeting + ' ' + username + '.')
#a.	If the admin account logs in, give them a special greeting.  They’re the admin, after all!
for admin in user:
  if admin == 'alexis2001':
    print('WELCOME ' + admin + '!!!')
#b others can get the generic greeting
  else:
    print('Welcome commoner, ' + admin)

# 2.	Store numbers 1-10 in a list
number = list(range(1,11))
#a.	Loop through the list
#b.	Use an if-elif-else chain inside your loop to print the ordinal ending for each number – for example – 1st, 2nd, 3rd … etc.
for num in number:
  if num >= 4:
    print(str(num) + 'th')
  elif num == 3:
    print(str(num) + 'rd')
  elif num == 2:
    print(str(num) + 'nd')
  else:
    print(str(num) + 'st')

Hello! Welcome back alexis.
Hello! Welcome back alexismarin.
Hello! Welcome back alexism.
Hello! Welcome back malexis.
Hello! Welcome back alexis2001.
Welcome commoner, alexis
Welcome commoner, alexismarin
Welcome commoner, alexism
Welcome commoner, malexis
WELCOME alexis2001!!!
1st
2nd
3rd
4th
5th
6th
7th
8th
9th
10th

In [4]:
#Unit_2 L6
#1.	Create a simple dictionary that stores 2 variables, for example: first and last name.
dic = {'first': 'John', 'last': 'Smith'}


#2.	Print out those variables stored in your previous dictionary. 
print(dic['first'])
print(dic['last'])



#3.	Add a message to those variables on printing: for example: “Hello, firstname lastname!”
print('My first name is ' + dic['first'] + ' and my last name is ' + dic['last'] + '.')




#4.	Create a dictionary that holds 2 key: value pairs:
player = {'name': 'LeBron', 'team': 'Lakers'}
#a.	Look through your dictionary and print each pair,
print(player)





#5.	Create a nested dictionary containing three dictionaries – these dictionaries could be anything (favorite pets, travel locations, etc.)
#a.	Loop through the dictionaries and print a message for each.

John
Smith
My first name is John and my last name is Smith.
{'name': 'LeBron', 'team': 'Lakers'}